<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Update Patient Number</title>
</head>
<body>
    <div class="header">
        <h1>FIT2095 Clinic</h1>
        <h3>Welcome to Week 6 Lab</h3>  
        <a href="/">Home</a>  
        <a href="/adddoctor">Add Doctor</a>
        <a href="/addpatient">Add Patient</a>
        <a href="/listdoctors">List Doctors</a>
        <a href="/listpatients">List Patients</a>
        <a href="/deletepatient">Delete Patient</a>
        <a href="/updatenumberofpatients">Update Number of Patients</a> 
    </div>
    <br>
    <div class="section">
        <h3>Update Number of Patients</h3>
        <form action="/updatenumberofpatientspost" method="POST">
            <label for="doctorid">Doctor ID:</label>
            <input type="text" name="doctorid" id="doctorid"/></br>
            <br>
            <label for="numpatients">Number of Patients:</label>
            <input type="text" name="numpatients" id="numpatients"/></br>
            <br>
            <br>
            <input type="submit" value="Update Patient Number" class="submit"/>
        </form>
    </div>
</body>
</html>